extends layout

block content
  h1= title
  p go to https://milabex08.herokuapp.com/files/file1 to fetch the data of file1.txt
  p go to https://milabex08.herokuapp.com/files/file2 to fetch the data of file2.txt
  p go to https://milabex08.herokuapp.com/files/dog to fetch the data of dog.png
